<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>User Profile Page</title>

    <meta name="author" content="Codeconvey" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" href="assets/css/userProDemo.css" />
    
	    <link rel="stylesheet" href="assets/css/userProStyle.css">
</head>
<body>
		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
 
            <!-- Ad Here -->
            
        </div>
        <div class="col-rt-2">
            <ul>
                <li><a th:href="@{/userNewsFeed}" title="Back to tutorial page">Back</a></li>
            </ul>
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>User Profile Page</h1>
                <p>Your Contribution to the Society is Appreciable</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- Student Profile -->
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
            <h3>User Name</h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Email: </strong>user@gmail.com</p>
            <p class="mb-0"><strong class="pr-1">City: </strong>Dhaka</p>
            <p class="mb-0"><strong class="pr-1">Contact: </strong>01953539730</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Contributions</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Volunteering Points</th>
                <td width="2%">:</td>
                <td>75</td>
              </tr>
              <tr>
                <th width="30%">Enrolled Campaigns	</th>
                <td width="2%">:</td>
                <td>10</td>
              </tr>
              <tr>
                <th width="30%">Completed</th>
                <td width="2%">:</td>
                <td>7</td>
              </tr>
              <tr>
                <th width="30%">Organizer</th>
                <td width="2%">:</td>
                <td>No</td>
              </tr>
              <tr>
                <th width="30%">Sponsor</th>
                <td width="2%">:</td>
                <td>Yes</td>
              </tr>
            </table>
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>I am an enthusiastic person who wants to make a change in the society and make it a better place to live. I love nature, animals and I try my best to protect them </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- partial -->
           
    		</div>
		</div>
    </div>
</section>
     


    <!-- Analytics -->

	</body>
</html>